---
import FileUploaderIsland from '../components/FileUploaderIsland.tsx';
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Bookmark Uploader</title>
</head>
<body>
  <h1>Upload Your Bookmark File</h1>
  <FileUploaderIsland />
</body>
</html>
