---
import Layout from '../layouts/Layout.astro';
import FileUploader from '../components/FileUploader.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Bookmark Uploader</title>
</head>
<body>
<Layout>
    <h1>Upload Your Bookmark File</h1>
    <FileUploader />
</Layout>
</body>
</html>
