---
import HomeIsland from '../components/HomeIsland.tsx';
import Layout from '../layouts/Layout.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Home</title>
</head>
<body>
<Layout>
  <HomeIsland client:idle />
</Layout>
</body>
</html>
