---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import FileUploader from '../components/FileUploader.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Bookmark Uploader</title>
</head>
<body>
<Layout>
  <Welcome />
</body>
</html>
