---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import FileUploader from '../components/FileUploader.astro';
import Grid from '../components/Grid.astro';
---

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Bookmark Uploader</title>
</head>
<body>
<Layout>
  <Welcome />
  <h1>Upload Your Bookmark File</h1>
  <Grid>
    <FileUploader />
  </Grid>
</Layout>
</body>
</html>
